*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
.main_box{
    background-image: url("photo.jpg");
   /* set image height all over web page */
   height: 100vh;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
   position:fixed ;

   left : -350px;
   height: 100vh;
   width: 300px;
   background-color: rgba(255, 255, 255, 0.138);
   box-shadow: 0px 0px 6px grey;
   transition: all 0.4s linear 0s;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 0px 6px grey; 
}
.sidebar_menu .logo a{
    position: absolute;
    left: 70px;
    color: white;
    text-decoration:none ;
    font-size: 25px;
    font-weight: 600;
}
.sidebar_menu .btn_two{
    position: absolute;
    font-size: 30px;
    color: grey;
    line-height: 60px;
    left: 257px;
    cursor: pointer;
    opacity: 0;
}
.sidebar_menu .menu{
    position: absolute;
    color: white;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 8px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu a{
    margin-left: 10px;
}
.sidebar_menu .social_media{
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25% ;
    bottom: 40px;
   
}
.sidebar_menu .social_media a{
padding: 0 6px;
    
}
#check{
display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 6px grey; 
}
.sidebar_menu .social_media:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked~ .sidebar_menu{
    left: 0;
}
#check:checked~ .btn_one i{
    opacity: 0;
}
#check:checked~ .sidebar_menu .btn_two {
    opacity: 1;
}



.sidebar_menu .btn_one i:hover{
    cursor: pointer;
    font-size: 30px;
}
.sidebar_menu .btn_two i:hover{
    cursor: pointer;
font-size: 30px;
}
